description: |
  Build and push Docker containers to the GitHub Container Registry (ghcr.io).

  Requires a context with $GITHUB_TOKEN and $GITHUB_USER set to authenticate.
executor: machine
resource_class: << parameters.resource-class >>
parameters:
  resource-class:
    type: enum
    enum:
      - medium
      - large
      - xlarge
      - 2xlarge
    default: medium
    description: Resource class to run as.
  image-name:
    description: Name of the image.
    default: ''
    type: string
  tag:
    description: Name of the tag for the image.
    default: latest
    type: string
  commit-tag:
    description: Whether or not to push an additional tag to the registry with the commit hash as the tag.
    default: false
    type: boolean
  args:
    description: Additional args string to add to the build command. (E.g., '--build-arg HELLO=WORLD'.)
    default: ''
    type: string
  path:
    description: Path to the Dockerfile.
    default: .
    type: string
  token:
    description: GitHub token to use with the gh-client.
    type: string
    default: $GITHUB_TOKEN
  user:
    description: GitHub user to authenticate with ghcr.io.
    type: string
    default: $GITHUB_USERNAME
steps:
  - checkout
  - run:
      name: Login to ghcr.io
      command: |+
        echo "<< parameters.token >>" | docker login ghcr.io -u "<< parameters.user >>" --password-stdin
  - run:
      name: Build and push tag
      command: |+
        docker build -f << parameters.path >> -t ghcr.io/<< parameters.user >>/<< parameters.image-name >>:<< parameters.tag >> << parameters.args >>
        docker push ghcr.io/<< parameters.user >>/<< parameters.image-name >>:<< parameters.tag >>
  - when:
      condition: << parameters.commit-tag >>
      steps:
        - run:
            name: Push commit tag
            command: |+
              docker tag ghcr.io/<< parameters.user >>/<< parameters.image-name >>:<< parameters.tag >> ghcr.io/<< parameters.user >>/<< parameters.image-name >>:$CIRCLE_SHA1
              docker push ghcr.io/<< parameters.user >>/<< parameters.image-name >>:$CIRCLE_SHA1