version: 2.1


orbs:
  dynamic: bjd2385/dynamic-continuation@3.7.1
  general: bjd2385/general@0.7.8
  orb-tools: circleci/orb-tools@11.6.1
  slack: circleci/slack@4.12.5


workflows:
  general:
    jobs:
      # Development branches

      - dynamic/continue:
          default-branch: master
          context: orb-publishing

      # On tag

      - general/orb-pack:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - slack/on-hold:
          context: slack
          requires:
            - general/orb-pack
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - request-approval:
          requires:
            - slack/on-hold
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - orb-tools/publish:
          name: publish production orb
          enable-pr-comment: false
          vcs-type: << pipeline.project.type >>
          orb-name: premiscale/general
          pub-type: production
          requires:
            - request-approval
          context:
            - circleci
          resource_class: small
          tag-pattern: v?[0-9]+.[0-9]+.[0-9]+
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - general/github-release:
          context: github
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/